<%- include('header') %>
    <!-- Basic -->
    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <!-- Page title -->
                <div class="my-5">
                    <h3>Change Password</h3>
                    <hr>
                </div>
                <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
                    <div class="alert alert-danger">
                        <strong>Error:</strong> <%= errorMessage %>
                    </div>
                <% } %>
                
                <% if (typeof successMessage !== "undefined" && successMessage) { %>
                    <div class="alert alert-success">
                        <strong>Success:</strong> <%= successMessage %>
                    </div>
                <% } %>
                <!-- Form START -->
                <form class="file-upload" action="/user/updatePassword" method="POST">
                    <!-- Social media detail -->
                    <div class="row mb-5 gx-5">
                       <!-- change password -->
                        <div class="col-xxl-2"></div>
                        <div class="col-xxl-8">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <!-- <h4 class="my-4">Change Password</h4> -->
                                    <!-- Old password -->
                                    <div class="col-md-12">
                                        <label for="exampleInputPassword1" class="form-label">Old password *</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                                    </div>
                                    <!-- New password -->
                                    <div class="col-md-12">
                                        <label for="exampleInputPassword2" class="form-label">New password *</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" name="newPass">
                                    </div>
                                    <!-- Confirm password -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2"></div>
                    </div> <!-- Row END -->
                    <!-- button -->
                    <div class="gap-3 d-md-flex justify-content-md-end text-center">
                     
                        <button type="submit" class="btn btn-primary btn-lg">Update Password</button>
                    </div>
                </form> <!-- Form END -->
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <%- include('footer') %>